*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.jumbotron{
    background-color: #aeaecd;
    width: 100%;
    height: 2000px;
    
}

.row{
    display: flex;
    justify-content: center;
}

/* inizio prima riga */

.container_prima_riga{
    background-color: rgb(134, 186, 224);
}

.col_prima_riga{        /* tutte le colonne della prima riga */
    background-color: orange;
    height: 30px;
    border: 1px dashed black;
    margin: 10px 0px ;

}
.col-125{
    width: calc(12.5%);
    
}
.col-375{
    width: calc(37.5%);
    
}

/* fine prima riga */

/* inizio seconda riga */

.container_seconda_riga{
    background-color: rgb(21, 19, 113);
}

.col-500{
    width: calc(50%);
    height: 250px;
    background-color: rgb(233, 88, 163);
    margin: 30px 0;
    border: 1px dashed black;
}


/* fine seconda riga */

/* inizio terza riga */
.container_terza_riga{
    background-color: rgb(217, 226, 233);
}

.col_terza_riga{        /* tutte le colonne della terza riga */
    background-color: rgb(102, 88, 194);
    height: 260px;
    border: 1px dashed black;
    margin: 30px 0px ;

}

.col-250{
    width: calc(25%);
    background-color: salmon;
    
}

/* fine terza riga */